body{
    background-color: #447D89;
    background-size: cover;
}

.color{
    background-color: #CCD99F;
}

table{
   border-color: black;
   height: 300px;
   width: 1080px;
   border-collapse: collapse;
}